@model NewsViewModel

@{
    ViewData["Title"] = "Criar Notícia";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        @Html.HiddenFor(model => model.ListaCategoria)
        <div class="mb-4">
            <div class="row pb-2 pl-2">
                <h1 class="h3 mb-2 text-gray-800">Criar Notícia</h1>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Noticias.Titulo">Título</label>
                <input asp-for="@Model.Noticias.Titulo" class="form-control"/>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Noticias.ResumoMateria">Resumo da Matéria</label>
                <input asp-for="@Model.Noticias.ResumoMateria" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Noticias.Conteudo">Conteúdo</label>
                <textarea asp-for="@Model.Noticias.Conteudo" class="form-control" cols="40" rows="10" style="resize: none;"></textarea>
                @*<span asp-validation-for="DisplayOrder" class="text-danger"></span>*@
            </div>
            <div class="mb-3">
                <label asp-for="Noticias.CategoriaFK">Categoria</label>
                 <select class="form-control" asp-for="Noticias.CategoriaFK">
                    <option value="" disabled selected>Selecione uma categoria</option>
                    @foreach (var obj in Model.ListaCategoria)
                    {
                        <option value="@obj.CategoriaId">@obj.CategoriaNome</option>
                    }
                </select>
            </div>
            <div class="custom-file mb-3">
                <input asp-for="Imagem" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" asp-for="Imagem">Escolha o arquivo...</label>
                <div class="invalid-feedback">Arquivo Inválido!</div>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Noticias.DescricaoImagem">Descrição da imagem</label>
                <input asp-for="@Model.Noticias.DescricaoImagem" class="form-control"/>
                @*<span asp-validation-for="DisplayOrder" class="text-danger"></span>*@
            </div>
            <button type="button" class="btn btn-primary" style="width:150px" data-toggle="modal" data-target="#ExemploModalCentralizado">Criar</button>
            <a asp-controller="Dashboard" asp-action="News" class="btn btn-secondary" style="width:150px">
                Voltar para lista
            </a>
            <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="TituloModalCentralizado">Confirmação</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Deseja salvar a nova notícia?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>