@model IEnumerable<FaleConosco>

@{
    ViewData["Title"] = "Emails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="container-fluid">
    @if (Model.Count() != 0)
    {
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Emails</h1>
        <p class="mb-4">Este local serve para gerenciar todas as mensagens enviadas pelos usários do site, pelo método "Fale Conosco".<br> Aqui você pode excluir ou responder as mensagens!</p>
      
        <div class="row">

            @foreach (var obj in Model)
            {
                <div class="col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <a asp-controller="Dashboard" asp-action="VisualizarEmail" asp-route-id="@obj.Id"><h6 class="m-0 font-weight-bold text-primary">@obj.Assunto - @obj.NomeAutor</h6></a>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">O que fazer?</div>
                                    <a asp-controller="Dashboard" asp-action="VisualizarEmail" asp-route-id="@obj.Id" class="dropdown-item">
                                        Visualizar Mensagem
                                    </a>
                                    <button type="button" class="dropdown-item">Excluir</button>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                                <div class="card-body">
                            @obj.Mensagem
                        </div>
                    </div>
                </div>
            }
            <!-- Dropdown Card Example -->
                        </div>
    }
    else
    {
    <div class="text-center">
        <h1>Nenhuma mensagem encontrada!</h1>
        <p class="lead text-gray-800 mb-5">Nenhum Email foi encontrado na base de dados! Será que ninguém enviou?</p>
    </div>
    }
</div>

