@model NewsIndexViewModel

@{
    ViewData["Title"] = "Dashboard - Notícias";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Notícias</h1>
    <p class="mb-4">Este local serve para gerenciar todas as notícias do site, onde podemos criar, editar ou excluir qualquer informação!</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">Tabela de Notícias</h6>
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Dashboard" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> &nbsp; Criar nova Notícia
                    </a>
                </div>
            </div> 
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Título</th>
                            <th>Publicado em</th>
                            <th>Categoria</th>
                            <th>Autor</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Título</th>
                            <th>Publicado em</th>
                            <th>Categoria</th>
                            <th>Autor</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var obj in Model.ListaNoticias)
                        {
                            <form method="post">
                            <tr>
                                <td>@obj.NoticiaId</td>
                                <td>
                                    <a class="nav-link" asp-controller="Noticias" asp-action="Visualizar" asp-route-id="@obj.NoticiaId">@obj.Titulo</a>
                                </td>
                                <td>@obj.CriadoEm</td>
                                @foreach (var categoria in Model.ListaCategoria)
                                {
                                    if (categoria.CategoriaId == obj.CategoriaFK)
                                    {
                                        <td>@categoria.CategoriaNome</td>
                                    }
                                }
                                <td>Eu</td>
                                <td class="text-center">
                                    <a asp-controller="Dashboard" asp-action="Edit" asp-route-id="@obj.NoticiaId" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ExemploModalCentralizado">
                                        <i class="bi bi-trash"></i> Excluir
                                    </button>
                                </td> 
                            </tr>
                            <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="TituloModalCentralizado">Confirmação</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Deseja realmente deletar esta notícia?
                                        </div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-danger">Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>