@model VisualizarNoticiasViewModel

@{
    ViewData["Title"] = @Model.Noticia.Titulo;
}

<div class="container-fluid border my-3 p-3 col-10">
    <div class="border-bottom pb-3">
        <h1 class="text-success text-center">@Model.Noticia.Titulo</h1>
        <p class="pt-2 text-muted">@Model.Noticia.ResumoMateria</p>
        @foreach (var categoria in Model.ListaCategorias)
        {
            if(categoria.CategoriaId == Model.Noticia.CategoriaFK)
            {
                <span class="bold">@categoria.CategoriaNome</span> <br />
            }
        }
        <span>@Model.Noticia.CriadoEm</span>
    </div>
    <div class="text-center p-3">
        <img src="~/images/logo-passagem.png" />
        <span class="d-block text-right text-muted">Descrição da imagem</span>
    </div>
    <div class="border-bottom pb-3 text-break">
        @Model.Noticia.Conteudo
    </div>

    <p class="pt-2 mt-3 text-muted">Mais notícias dessa categoria</p>
    <div class="list-group mt-4" id="list-news">
            @foreach (var noticia in Model.ListaNoticias.Reverse())
            {
                @foreach (var categoria in Model.ListaCategorias)
                {
                    if (categoria.CategoriaId == noticia.CategoriaFK && noticia.CategoriaFK == Model.Noticia.CategoriaFK)
                    {
                        <a class="list-group-item border list-group-item-action" asp-controller="Noticias" asp-action="Visualizar" asp-route-id="@noticia.NoticiaId" id="links-news">   
                        <div class="row">
                                <div class="col-md-2">
                                    <p>@noticia.CriadoEm</p>
                                </div>     
                                <div class="col">
                                    <h6 class="text-success">@noticia.Titulo</h6>
                                </div>
                            </div>
                        </a>
                    }
                }
            }
    </div>
</div>
